.Newsletter {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0px 0px 0px;
}

.Newsletter h2 {
    font-size: 57px;
    font-weight: normal;
    margin: 0px 0px 15px 0px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}

.Newsletter p {
    font-size: 18px;
    color: #fff;
    margin: 0px;
    font-family: 'Akzidenz-Grotesk BQ Extended';
}

.headSubs{
    max-width: 500px;
}

.headSubs h4 {
    font-size: 27px;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control{
    width: 100%;
    border: none;
    background-color: #8500e2;
    color: #fff;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}

.max-width-1000{
    max-width: 1000px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

.width-adjust{
    width: 330px;
    height: 32px;
}

.max-width-1000 p{
    font-size: 11px;
    color: #000;
    margin-bottom: 60px;
}

.btn-shadow-2 {
    content: "";
    background: url(../../public/images/subscribe-dotted.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 134px;
    position: absolute;
    background-size: contain;
    z-index: 1;
    max-width: 420px;
    margin: 0 auto;
    z-index: -1;
    max-width: 230px;
}

.formControl {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    width: 100%;
    border: none;
    margin-right: 20px;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Akzidenz-Grotesk BQ Extended';
}

.formControl:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(270deg, #b421d3 0, #fed4a4 48.96%, #fed4a4 73.96%, #4d1f80 97.92%);
    z-index: -2;
    border-radius: 0.5rem;
    content: '';
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.submitBtn {
    position: relative;
    background: url(../../public/images/Subscribe.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    padding: 18px 55px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


@media(max-width: 991px){
    .Newsletter{
        padding: 40px 0px;
    }
    .Newsletter h2{
        font-size: 42px;
    }
    form{
        flex-direction: column;
    }
    .formControl{
        margin-right: 0px;
    }
    .submitBtn{
        margin-top: 20px;
    }
    .Newsletter p{
        font-size: 16px;
    }
}


@media(max-width: 767px){
    .Newsletter{
        padding: 40px 0px;
    }
    .Newsletter h2{
        font-size: 42px;
    }
    form{
        flex-direction: column;
    }
    .formControl{
        margin-right: 0px;
    }
    .submitBtn{
        margin-top: 20px;
    }
    .Newsletter p{
        font-size: 16px;
    }
}