nav.navbar {
    border-radius: 0;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: .5;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent !important;
    background-image: url(../../public/images/header-bg.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    box-shadow: 0 4px 10px rgb(0 0 0 / 45%);
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 9;
    left: 0;
    right: 0;
    transform: translate(0px, 0%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.NavLoad .navbar.sticky {
    position: fixed;
    transform: translate(0px, 0px);
}

.NavLoad nav.navbar {
    transform: translate(0px, 0px);
    animation-delay: 2s;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navWrapp {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1106px;
    margin: 0 auto;
}

.NavItems a {
    color: #fff;
    padding: 0 26px;
    font-weight: normal;
    font-size: 15px;
    display: block;
    line-height: 24px;
    font-family: 'Gotham Book';
}

.NavItems a:hover {
    color: #fe94ff;
}

.NavItems ul li.submenu {
    background-image: url(../../public/images/dropdown-icon.png);
    background-repeat: no-repeat;
    background-position: center right 6px;
}

.NavItems ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavItems ul li:last-child a{
    padding-right: 0px;
}

.MenuToggler{
    display: none !important;
}


/* IPAD responsive */

@media(max-width: 1400px){
    nav.navbar{
        max-width: 100%;
    }
    .NavItems a{
        font-size: 13px;
    }
}

@media(max-width: 1100px){
    nav.navbar{
        max-width: 100%;
    }
}

@media(max-width: 991px) {
    .NavItems {
        display: none;
    }

    nav.navbar {
        max-width: 100%;
    }

    .navWrapp {
        padding: 0 15px;
        align-items: flex-start;
        flex-direction: column;
    }

    .Logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .MenuToggler{
        display: block !important;
    }

    .MenuOpened .NavItems{
        display: block;
    }

    .MenuOpened .NavItems ul{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 25px;
    }

    .MenuOpened .NavItems a {
        padding: 6px 26px 6px 0px;
    }

    .MenuOpened .NavItems ul li:last-child a {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
    }

    .closeImage{
        display: none !important;
    }

    .MenuOpened .closeImage{
        display: block !important;
    }

    .MenuOpened .MenuImage{
        display: none !important;
    }
    .Logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* Mobile responsive */

@media(max-width: 767px) {
    .NavItems {
        display: none;
    }

    nav.navbar {
        max-width: 100%;
    }

    .navWrapp {
        padding: 0 15px;
        align-items: flex-start;
        flex-direction: column;
    }

    .Logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .MenuToggler{
        display: block !important;
    }

    .MenuOpened .NavItems{
        display: block;
    }

    .MenuOpened .NavItems ul{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 25px;
    }

    .MenuOpened .NavItems a {
        padding: 6px 26px 6px 0px;
    }

    .MenuOpened .NavItems ul li:last-child a {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
    }

    .closeImage{
        display: none !important;
    }

    .MenuOpened .closeImage{
        display: block !important;
    }

    .MenuOpened .MenuImage{
        display: none !important;
    }
    .Logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}