.Persons {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.gallery{
    padding: 90px 60px;
    background-image: url(../../public/images/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Persons img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.Persons img:hover {
    filter: grayscale(0%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.Persons span {
    display: block !important;
}

.category {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.category h2 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 45%;
    color: #fff;
    font-family: 'Gotham';
    font-weight: 500;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    font-size: 20px;
}

.category:hover h2 {
    bottom: 45%;
    letter-spacing: 2px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.person-content {
    padding: 20px 15px;
    text-align: center;
}

.person-content h2 {
    font-size: 72px;
    color: #febbff;
    margin: 0px;
    font-family: 'FatFrank';
    text-transform: uppercase;
}

.Persons div {
    flex: 0 0 auto;
    width: 20%;
    cursor: pointer;
}


@media(max-width: 1400px) {
    .person-content h2 {
        font-size: 28px;
    }
}


@media(max-width: 991px) {
    .person-content h2 {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .person-content h2 {
        font-size: 18px;
    }

    .gallery{
        padding: 0px;
    }

    .headSubs {
        max-width: 290px;
    }

    

    .Started{
        padding: 30px 15px;
    }

    .desktop-only{
        display: none;
    }

    .category h2{
        bottom: 5%;
    }

}