.Offer {
    background: url(../../public/images/offer-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 20px 0px;
    position: relative;
    z-index: 2;
}

.offer-text {
    background-image: url(../../public/images/offer-text.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 0px;
    background-position: center top -45px;
}

.Offer h2 {
    font-size: 45px;
    color: #ffa5f3;
    margin: 0px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'FatFrank';
    margin-top: 185px;
    margin-bottom: 20px;
}

.Offer p {
    font-size: 18px;
    color: #fff;
    margin: 0px auto;
    font-family: 'Akzidenz-Grotesk BQ Extended';
    max-width: 910px;
    line-height: 28px;
    margin-top: 25px;
}


@media(max-width: 1400px) {
    .Offer h2 {
        font-size: 56px;
    }

    .Offer p {
        font-size: 17px;
        line-height: 25px;
    }
}

@media(max-width: 991px) {
    .Offer {
        padding: 40px 0px 60px 0px;
    }

    .Offer h2 {
        font-size: 42px;
    }

    .Offer p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media(max-width: 767px) {
    .Offer {
        padding: 20px 0px 20px 0px;
    }

    .Offer h2 {
        font-size: 42px;
    }

    .Offer p {
        font-size: 16px;
        line-height: 26px;
    }

    .Offer h2 {
        font-size: 14px;
    }

    .offer-text{
        padding: 1px 0px;
        background-position: center top 0px;
        background-size: contain;
    }

    .Offer h2{
        margin-top: 80px;
    }
}