.what{
    height: 100vh;
    background-image: url(../../public/images/what-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.what p{
    font-size: 34px;
    font-family: 'Gotham';
    font-weight: 500;
    max-width: 1100px;
    margin: 40px auto 0 auto;
}

.what p span{
    font-family: 'Gotham Ultra';
    color: #8909e2;
}